<template>
  <div class="pageContent">
    <h1> Style Guide (in progress) 
      <fa
        :icon="['far', 'book-open']"
        class="fa categoryIcon" />
    </h1>

    <h3> Rules of Thumb </h3>

    <ul>
      <li> use simplistic and easily understandable language over complex and obscure language wherever possible. 
      This is to ensure that the SEI is as accessible to the general public as possible. </li>
      <li> Do not make absolute or black/white assertions. For example "XYZ can creating the feeling that"
      over "XYZ will create the feeling that" </li>
      <li> Do not talk about the conclusions reached during these states as if they are inherently true, 
      instead make it clear that you are simply describing the experience of them. </li>
      <li> add laughter as a subcomponent of humour enhancement </li>
      <li> add vomiting as a subcomponent of nausea </li>
    </ul>
    
    <h3> Levels of intensity intro </h3>
    
    <p> "This effect is capable of manifesting itself across the x different levels of intensity described below:" </p>

    <h3> Tiers </h3>

    <ul>
      <li> At the lowest level, … </li>
      <li> At this level, … </li>
      <li> At the highest level, … </li>
    </ul>

    <h3> Referring to the experiencer </h3>
    
    <ul>
      <li> “A person” is preferred </li>
      <ul style="margin-bottom: 0;">
        <li> "At this level a person experiences morphing" </li>
      </ul>
      <li> “One’s” is secondary and provides variety </li>
      <li> “At this level one’s vision is completely encompassed by geometry” </li>
    </ul>

    <h3> Outro paragraph sentence: </h3>

    <p> "Effect is most commonly induced under the influence of low/moderate/heavy dosages of hallucinogenic compounds, 
    such as type list. However, it can also occur under the influence of type list, particularly during phase [or as a result of x]" </p>

    <h3> Word preferences: </h3>
    <ul>
      <li> To describe a given environment in its entirety: <i> Scene </i> </li>
      <li> To describe the surface of a given object (like the surface of a wall in a video game): <i> Texture </i> </li>
      <li> To describe a given object: <i> Object </i> </li>
      <li> To describe the experience of an effect of an illusion: <i> Perception </i> </li>
      <li> To describe increasing intensity across multiple tiers: <i> Progressive </i> </li>
      <li> To describe common sober experiences (to contrast with intoxicated effects): <i> Everyday (life) </i> </li>
      <li> To describe an illusion the subject recognizes to be false: <i> Hallucination / hallucinatory </i> </li>
      <li> To describe an illusion the subject cannot recognize as such: <i> Delusion </i> </li>
      <li> To describe the lower bound of an effect range: <i> Subtle </i> </li>
      <li> To describe the upper bound of an effect range: <i> Extreme </i> </li>
    </ul>
  </div>
</template>
