<template>
  <div class="pageContent">
    <h1> Tutorials      
      <fa
        :icon="['far', 'list-alt']"
        class="fa categoryIcon" /> 
    </h1>

    <p> This page serves as a dedicated index for information and resources on replicating specific subjective effects. </p>

    <ul>
      <li>
        <ext-link href="https://www.youtube.com/watch?v=3cUBq1tHO-A">
        <span class="bold"> Symmetrical Texture Repetition  </span> </ext-link> by
        <ext-link href="https://www.reddit.com/user/Hyperactive_Filly"> Hyperactive_Filly </ext-link>
      </li>
      <li>
        <ext-link href="https://www.youtube.com/watch?v=KaBBGipVly8">
        <span class="bold"> Tracer Tutorial  </span> </ext-link> by
        <ext-link href="https://www.reddit.com/user/Hyperactive_Filly"> Hyperactive_Filly </ext-link>
      </li>
      <li>
        <ext-link href="https://www.youtube.com/watch?v=W6t9A-52-ZU">
        <span class="bold"> Breathing / Shifting / Melting Tutorial  </span> </ext-link> by
        <ext-link href="https://www.reddit.com/user/Hyperactive_Filly"> Hyperactive_Filly </ext-link>
      </li>
      <li>
        <ext-link href="https://www.youtube.com/watch?v=ZRDPPWTyM-A">
        <span class="bold"> Compositions / Multiple Effects </span> </ext-link> by
        <ext-link href="https://www.reddit.com/user/Hyperactive_Filly"> Hyperactive_Filly </ext-link>
      </li>
      <li>
        <ext-link href="https://www.reddit.com/r/replications/comments/5bmzeo/how_to_produce_hd_webm_for_gfycat/">
        <span class="bold"> How to Format WEBM for Gfycat </span> </ext-link> by
        <ext-link href="https://www.reddit.com/user/Hyperactive_Filly"> Hyperactive_Filly </ext-link>
      </li>                                                
    </ul>

    <p> For a collection of high res royalty free nature stock footage that can be used within replication videos, please
    <ext-link href="http://mitchmartinez.com/free-4k-red-epic-stock-footage/"> click here</ext-link>. </p>
  </div>
</template>

<script>
import ExtLink from "@/components/ExtLink";

export default {
  components: {
    ExtLink
  },
  head() {
    return {
      title: "Tutorials"
    };
  }
};
</script>